nav {
  background-color: #118BC0;
}
.logo {
  display: inline-block;
  height: 31px;
  width: 31px;
  margin-left: 16px;
  border-radius: 15.5px;
  background-color: white;
  vertical-align: middle;
}

.logo .svgpath {
  fill: #118BC0;
}
.svgpath {
  fill: white;
}
.logo2 {
  display: inline-block;
  width: 120px;
  margin-left: 11px;
  vertical-align: middle;
}
.logo2 p {
  margin: 14px 0;
  vertical-align: middle;
  color: #FBEEEB;
  font-family: sans-serif;
  font-size: 18px;
}
.logo2 p span {
  color: #8FCBE1;
}
.login {
  text-align: center;
  color: #FEF2E8;
  font-family: sans-serif;
  font-size: 13px;
  padding-top: 18px;
  background-color: #0070A4;
  height: 31px;
  width: 77px;
  float: right;
}

main {
  padding-top: 9.688em;
  background-color: #344051;
  background-image: url(graphics/)
}
.bgimg{

}
.section1 {
  margin: auto;
  width:22.5em;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.heading {
  font-size: 2em;
}

.section1 div {
  width: 16.875em;
  margin:auto;
  margin-bottom: 25px;
}

.section1 .button {
  width: 50%;
  border: 10px solid #212934;
}
.button {
  font-family: sans-serif;
  font-size: 20px;
  width:200px;
  background-color: #1E8CBE;
  margin: auto;
  padding: 15px;
  color:white;
  text-align: center;
}

.downarrow {
  display: block;
  margin: 13.25em auto auto auto;
  height: 22px;
  width: 50px;
  transform:rotate(270deg);
}

.section2 {
  margin-top: 8.375em;
}
.section2 div {
  margin: 0 auto 30px auto;
  padding-top: 10px;
  width: 18.75em;
}
.adlogo {
  display: inline-block;
  height: 50px;
  width: 40px;
  vertical-align: bottom;
}

.pressed .adlogo{
  transform:scale(-1,1);
}

div .logotxt {
  color: white;
  font-family: sans-serif;
  display: inline-block;
  width:235px;
  height: 50px;
  float: right;
  margin-top: -10px;
  margin-right: 5px;
}
.logotxt h3, .logotxt p {
  position: relative;
  top: -20px;
}

.logotxt p{
  color: #D6D6D1;
  font-size: 14px;
  margin-top: -10px;
}
.mainfoot {
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;
  background-color: #E8F0F5;
  padding: 25px;
  margin-top: 45px;
  color: #323F5F;
}

.main2 {
  padding-top: 1px;
  padding-bottom: 16px;
  background-color: #D1D3D7;
}

.main2 .outsidediv {
  padding: 20px 0;
  margin: 16px 11px;
  background-color: white;
}
.featlogo {
  display: block;
  background-color: #C7D2D8;
  height: 64px;
  width: 64px;
  border-radius: 32px;
  margin: auto;
  margin-bottom: 10px;
}

.main2svg {
  height: 34px;
  width: 64px;
  margin: 15px auto;
}

.main2path {
  fill: #547C98;
}

div .feature {
  text-align: center;
  font-family: sans-serif;
  color: #405F73;
  font-size: 20px;
  width: 410px;
  margin: 0 auto;
  margin-bottom: 10px;
}
div .featdis {
  text-align: center;
  font-family: sans-serif;
  color: black;
  height: 48px;
  width: 405px;
  margin: auto;
}
.lastdiv {
  padding: 1px 0 20px 0;
  background-color: #E8F0F5;
}
.lastdiv p {
  text-align: center;
  font-family: sans-serif;
  color: #3F3F6A;
  font-size: 24px;
}

.lastdiv .button {
  margin-top: 50px;
}
footer {
  padding: 20px 0;
  background-color: black;
  color: white;
}
.botlogo {
  display: block;
  width: 130px;
  margin: auto;
  font-family: sans-serif;
  font-size: 14px;
  color:#E3E3E3;

}

ul {
  text-align: center;
  margin: auto;
  margin-bottom: 7px;
}


ul li {
  display:inline-block;
  font-family: sans-serif;
  font-size: 10px;
  margin: 0 8px;
}

li a {
  color: white;
  text-decoration: none;
}
